<div class="row">
   <div class="col-md-3">
    <ngx-template-list>
    </ngx-template-list>
  </div>
  
  <div class="col-md-9 col-lg-9">
      <nb-card fullWidth>
          <nb-tabset>
              <nb-tab tabTitle="Preview" badgeText="1+"
              badgeStatus="danger">
                    <ngx-template-preview></ngx-template-preview>
              </nb-tab>
            <nb-tab tabTitle="Info" badgeText="12"
            badgeStatus="warning" >
                <ngx-template-info></ngx-template-info>
            </nb-tab>
           
            <nb-tab tabTitle="Resource">
                <ngx-template-resources ></ngx-template-resources> 
              </nb-tab>
              <nb-tab tabTitle="Html"  badgeText="12"
           
              badgeStatus="success">
                  <ngx-template-html></ngx-template-html> 
               </nb-tab>
            <nb-tab tabTitle="Data">
                  <ngx-template-data></ngx-template-data> 
                </nb-tab>
          </nb-tabset>
        </nb-card>

  </div>
</div>

